<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <title>Board</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script th:src="@{/js/main.js}"></script>
</head>

<body>
    <div th:insert="fragments/menu :: menu"></div>

    <form th:action="@{/hockey/plus}" method="POST">
        <input th:value="${board.id}" name="id" type="hidden" class="form-control">
        <table class="table table-hover">
            <tbody>
            <tr>
                <td th:text="${board.homeName}"/>
                <td>
                    <button name="action" value="minutesPlus" type="submit" class="btn btn-primary">+</button>
                    <button name="action" value="minutesMinus" type="submit" class="btn btn-primary">-</button>
                    <label id="time" th:text="${#numbers.formatInteger(minutes, 2) + ':' + #numbers.formatInteger(seconds, 2)}"/>
                    <button name="action" value="secondsPlus" type="submit" class="btn btn-primary">+</button>
                    <button name="action" value="secondsMinus" type="submit" class="btn btn-primary">-</button>
                </td>
                <td th:text="${board.awayName}"/>
            </tr>

            <tr>
                <td>
                    <label id="homeScore" th:text="${homeScore}"/>
                    <button name="action" value="homeScorePlus" type="submit" class="btn btn-primary">+</button>
                    <button name="action" value="homeScoreMinus" type="submit" class="btn btn-primary">-</button>
                </td>
                <td>
                    <label id="period" th:text="${period}"/>
                    <button name="action" value="periodPlus" type="submit" class="btn btn-primary">+</button>
                    <button name="action" value="periodMinus" type="submit" class="btn btn-primary">-</button>
                </td>
                <td>
                    <label id="awayScore" th:text="${awayScore}"/>
                    <button name="action" value="awayScorePlus" type="submit" class="btn btn-primary">+</button>
                    <button name="action" value="awayScoreMinus" type="submit" class="btn btn-primary">-</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <a id="startStop" class="btn btn-primary" th:text="${startStop}"/>

</body>
</html>